body
{
  background-image: url(tlo/tlo.jpg);
}

.button {
     border-radius:4px;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;

}


.button2 {
    background-color: #000066;
    color: white;
	font-weight: 500;
}

.button2:hover {

	background-color: #0000cc;
    color: white;
	font-weight: 500;
	border: 2px solid white;
}


#menu
{
	text-align:right;

}

#logo
{
	float:left;
	font-size:30px;
	color: #0000e6;
}


#log
{
	text-align:right;
}

.container
{
  height: 100%;
}

#content
{
  float: left;
	background-color: rgba(0,0,0,0.6);
	border-radius:5px;
	border-style:solid;
	margin-top:25px;
	padding-top:0px;
  border-bottom: 2px solid transparent;
  width: 100%;
	text-align:center;


}


#kategorie
{
float:left;
border-radius:5px;
background-color:lightblue;
width:20%;
height: 500px;
}

#lista
{
  float:right;
  border-radius:5px;
  background-color:lightblue;
  width:75%;
  height: 100%;
  margin-right: 2.5%;
}

.str
{
  width: 40px;
  height: 30px;
  background-color: green;
}

.item
{
  background-color: lightyellow;
  width:98%;
  height:100px;
  margin:5px;
  border: solid 2px;
  float: left;
  overflow: hidden;
}

#img
{
  background-color: lightgreen;
  width: 20%;
  height: 100%;
  float: left;
}

#text
{
  float: left;
  font-size: 15px;
  width: 80%;
  height: 75%;
  background-color: #6633CC;
  overflow: hidden;
  text-align: left;

}



#reg
{
	max-width:400px;
	min-height:500px;
	float:right;
	margi-top:0px;
	border-radius:5px;
}

.panel-heading
{
	padding:0px;

}


#collapse2
{
	border:5px solid black;
	background-color:#000066;
	transition-duration: 0,3s;
}


#ground
{
	background-color:#000066;
	border:solid 1px;
}
